.elementor-3189 .elementor-element.elementor-element-1477a354 > .elementor-container {
    max-width: 870px;
}

.elementor-3189 .elementor-element.elementor-element-1477a354:not(.elementor-motion-effects-element-type-background), .elementor-3189 .elementor-element.elementor-element-1477a354 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #055EA8;
}

.elementor-3189 .elementor-element.elementor-element-1477a354 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 60px 0px 30px 0px;
}

.elementor-3189 .elementor-element.elementor-element-1477a354 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3189 .elementor-element.elementor-element-13fb5d6e:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-3189 .elementor-element.elementor-element-13fb5d6e > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #055EA8;
}

.elementor-3189 .elementor-element.elementor-element-13fb5d6e > .elementor-element-populated, .elementor-3189 .elementor-element.elementor-element-13fb5d6e > .elementor-element-populated > .elementor-background-overlay, .elementor-3189 .elementor-element.elementor-element-13fb5d6e > .elementor-background-slideshow {
    border-radius: 15px 15px 15px 15px;
}

.elementor-3189 .elementor-element.elementor-element-13fb5d6e > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 5px 0px 5px;
    --e-column-margin-right: 5px;
    --e-column-margin-left: 5px;
}

.elementor-3189 .elementor-element.elementor-element-13fb5d6e > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3189 .elementor-element.elementor-element-13fb5d6e > .elementor-element-populated > .elementor-widget-wrap {
    padding: 30px 0px 0px 0px;
}

.elementor-3189 .elementor-element.elementor-element-03efaf5 > .elementor-container {
    max-width: 735px;
}

.elementor-3189 .elementor-element.elementor-element-03efaf5:not(.elementor-motion-effects-element-type-background), .elementor-3189 .elementor-element.elementor-element-03efaf5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #055EA8;
}

.elementor-3189 .elementor-element.elementor-element-03efaf5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: -39px;
    margin-bottom: 0px;
    padding: 35px 0px 35px 0px;
}

.elementor-3189 .elementor-element.elementor-element-03efaf5 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3189 .elementor-element.elementor-element-ef40341 {
    text-align: center;
    width: var(--container-widget-width, 103.068%);
    max-width: 103.068%;
    --container-widget-width: 103.068%;
    --container-widget-flex-grow: 0;
}

.elementor-3189 .elementor-element.elementor-element-ef40341 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-3189 .elementor-element.elementor-element-1a6e9a8 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-field-group {
    padding-right: calc(10px / 2);
    padding-left: calc(10px / 2);
    margin-bottom: 10px;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-form-fields-wrapper {
    margin-left: calc(-10px / 2);
    margin-right: calc(-10px / 2);
    margin-bottom: -10px;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-labels-inline .elementor-field-group > label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-labels-inline .elementor-field-group > label {
    padding-right: 0px;
}

body .elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 0px;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-field-group > label, .elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-field-subgroup label {
    color: #FFFFFF;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-field-group > label {
    font-family: "Roboto", Sans-serif;
    font-weight: 800;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-field-type-html {
    padding-bottom: 0px;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-button {
    font-family: "Roboto", Sans-serif;
    font-weight: 800;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .e-form__buttons__wrapper__button-next {
    background-color: #FFA225;
    color: #FFFFFF;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-button[type="submit"] {
    background-color: #FFA225;
    color: #FFFFFF;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-button[type="submit"] svg * {
    fill: #FFFFFF;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .e-form__buttons__wrapper__button-next:hover {
    color: #ffffff;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-button[type="submit"]:hover {
    color: #ffffff;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .elementor-button[type="submit"]:hover svg * {
    fill: #ffffff;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-3189 .elementor-element.elementor-element-4ccc035 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-3189 .elementor-element.elementor-element-5c35ceb:not(.elementor-motion-effects-element-type-background), .elementor-3189 .elementor-element.elementor-element-5c35ceb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #F0AA4100;
}

.elementor-3189 .elementor-element.elementor-element-5c35ceb, .elementor-3189 .elementor-element.elementor-element-5c35ceb > .elementor-background-overlay {
    border-radius: 0px 0px 15px 15px;
}

.elementor-3189 .elementor-element.elementor-element-5c35ceb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 10px 10px 10px 10px;
}

.elementor-3189 .elementor-element.elementor-element-5c35ceb > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-3189 .elementor-element.elementor-element-00c501f .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
}

.elementor-3189 .elementor-element.elementor-element-840eb82 {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.elementor-3189 .elementor-element.elementor-element-f29a000 {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.elementor-3189 .elementor-element.elementor-element-2b4fe9e {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 12px;
    font-weight: 300;
}

body.elementor-page-3189:not(.elementor-motion-effects-element-type-background), body.elementor-page-3189 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #055EA8;
}

@media (min-width: 768px) {
    .elementor-3189 .elementor-element.elementor-element-6565fc4 {
        width: 41.903%;
    }

    .elementor-3189 .elementor-element.elementor-element-9838234 {
        width: 24.391%;
    }
}

@media (max-width: 767px) {
    .elementor-3189 .elementor-element.elementor-element-03efaf5 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 30px 0px;
    }

    .elementor-3189 .elementor-element.elementor-element-ef40341 .elementor-heading-title {
        font-size: 16px;
    }

    .elementor-3189 .elementor-element.elementor-element-1a6e9a8 {
        text-align: center;
        font-size: 10px;
    }

    .elementor-3189 .elementor-element.elementor-element-00c501f {
        text-align: center;
    }

    .elementor-3189 .elementor-element.elementor-element-840eb82 {
        text-align: center;
    }

    .elementor-3189 .elementor-element.elementor-element-8d88b7f {
        width: var(--container-widget-width, 340px);
        max-width: 340px;
        --container-widget-width: 340px;
        --container-widget-flex-grow: 0;
    }
}